appdirs==1.4.3
click==6.7
Flask==0.12
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.1.1
packaging==16.8
py==1.4.32
pyparsing==2.2.0
pytest==3.0.7
six==1.10.0
SQLAlchemy==1.1.6
Werkzeug==0.12.1
-e git+ssh://git@github.com/closeio/zbase62.git@e13d2c748ccdb0cafe6465961a0c6a4111ee219f#egg=zbase62
